# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# Environment
.env
venv/
.env.*
.venv/

# Django
db.sqlite3
media/

# Static files
staticfiles/
static/

# IDE / Editors
.vscode/
.idea/
*.swp
